*{
  margin: 0;
  padding: 0;
	scroll-behavior: smooth;
	font-family: 'Dosis', sans-serif;
}

nav {
  display: flex;
	justify-content: space-between;
	width: 100%;
	min-height: 10vh;
	position: fixed;
  transition: 0.6s;
  z-index: 2;
}

nav.sticky {
	background: white;
	border-bottom: ridge;
	border-bottom-width: 1px;
	min-height: 8vh;
	z-index: 4;
}

nav.sticky a {
	color: black;
}

.logo {
	align-items: center;
	display: flex;
	text-align: center;
	justify-content: center;
	width: 40vw;
	z-index: 1;

	transition: 0.6s;
}

.logo h1 {
  font-size: calc(1.5vw + 3vh);
  display: flex;
  letter-spacing: 2px;
}

.logo a {
	color: black;
	text-decoration: none;
}

nav.sticky .logo h1 {
	font-size: calc(1vw + 2vh);
}

.nav-links {
	display: flex;
	justify-content: space-around;
	align-items: center;
  width: 60%;
  z-index: 1;
}

.nav-links a {
	color: black;
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 3vh;
}

.nav-links li {
  font-size: calc(1vw + 2vh);
  list-style: none;
	text-align: center;
	width: 20%;
	line-height: 5vh;
}

.nav-links li:hover {
	background-color: rgb(218, 212, 131, 0.7);
}

.burger {
	display: none;
	cursor: pointer;
	align-self: center;
	margin-right: 20px;
	z-index: 3;
}

.burger div{
	width: 25px;
	height: 3px;
	background-color: black;
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
	.logo {
		font-size: 3vh;
	}
	.nav-links {
		width: 70%;
	}
}

@media screen and (max-width: 768px){
	body{
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		right: 0px;
		height: 100vh;
		background-color: white;/*#1b688c;*/
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		z-index: 2;
	}
	.nav-links li{
		opacity: 0;
		width: 50%;
	}
	.nav-links a {
		color: black;
	}
	.burger{
		display: block;
	}
	.logo {
		width: 80vw;
	}
}

.nav-active{
	transition: transform 0.5s ease-in;
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle div {
	background-color: black;
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}

.overlay {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-color: rgba(14, 105, 105, 0.5);
}

.home {
  background-image: url("img/home.jpg");
  background-size: cover;
  background-position: top center;
  height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.home .landing {
	align-items: center;
	display: flex;
  justify-content: space-between;
	position: absolute;
	top: 20vh;
  width: 90%;
}

.home .sessions {
  background-color: rgba(256, 256, 256, 0.75);
  border-radius: 10px;
	padding: 1vw;
	text-align: center;
  width: 38vw;
  overflow-y: scroll;
}

.home .sessions-scroll {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 32vh;
  margin-top: 2vh;
  overflow-y: scroll;
}

.home .sessions h2 {
  font-size: 6vh;
}

.home .session {
  align-items: center;
  background-color: white;
  border-style: solid;
  display: flex;
  margin-bottom: 2vh;
  justify-content: space-between;
  width: 90%;
}

.home .session .text {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.home .session img {
  width: 30%;
}

.home .signup {
  background-color: rgba(256, 256, 256, 0.75);
  border-radius: 10px;
	padding: 1vw;
	text-align: center;
	width: 44vw;
}

.home .signup h2 {
  font-size: 7vh;
}

.home .signup h3 {
  font-size: 4.5vh;
}

.home .signup p {
  font-size: 3vh;
	margin-top: 2vh;
}

.home .signup-link {
  background-color: rgb(218, 212, 131);
	cursor: pointer;
	padding: calc(0.5vw + 0.5vh) calc(1vw + 1vh);
	border: solid;
	text-align: center;
	border-radius: 10px;
	font-size: calc(1.5vh + 1.5vw);
  margin: calc(1vh + 1vw) 0 calc(0.5vh + 0.5vw);
}

.home .info {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 75vh;
  width: 90%;
}

.home .info .about {
  background-color: rgba(256, 256, 256, 0.8);
  border-radius: 10px;
  display: flex;
  margin-right: 2vw;
  padding: 2vh 1vw;
  text-align: center;
}

.home .info .about img {
  height: 15vh;
  opacity: 1;
  width: 15vh;
}

.home .info .about .text {
  margin-left: 1vw;
}

.home .info .text h2 {
  font-size: 4vh;
  margin-bottom: 1vh;
}

.home .info .text h4 {
  font-size: 2.5vh;
}

.home .info img {
  border-radius: 10px;
  opacity: 0.8;
  width: 15vw;
}

/*@media screen and (max-width: 1024px){
	.home .signup {
		width: 50vw;
	}
}

@media screen and (max-width: 768px){
	.home .landing {
		left: 15vw;
	}
	.home .signup {
		width: 100%;
	}
	.home .signup p {
		font-size: 2.5vh;
	}
}

@media screen and (max-width: 480px){
	.home .signup {
		top: 25vh;
	}
}*/


.modules {
	margin-top: 5vh;
	display: flex;
	justify-content: center;
	background-color: white;
}

.modules .descriptions {
  display: flex;
  margin-bottom: 10vh;
  justify-content: space-between;
  width: 80vw;
}

.modules .descriptions .module {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25vw;
}

.modules .descriptions .module {
  width: 25vw;
}

.modules .descriptions .module img {
  width: 25vw;
}

.modules .descriptions .module p {
  margin-top: 1vw;
  font-size: calc(1vh + 0.8vw);
}

.modules .invited h3 {
  margin-top: 3vh;
	font-size: calc(2vh + 1.5vw);
	text-align: center;
  margin-bottom: 1vw;
}

.invited {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 2vh;
}

.invited h2 {
	font-size: 7vh;/*calc(3vh + 2vw);*/
	text-align: center;
}

/*.invited h3 {
	margin-top: 3vh;
	font-size: calc(2vh + 1.5vw);
	text-align: center;
}*/

@media screen and (max-width: 540px){
	.invited h2 {
		font-size: calc(4vh + 4vw);
	}
	.invited h3 {
		font-size: calc(2.5vh + 2.5vw);
		width: 90%;
	}
	.invited ul {
		font-size: calc(1.5vh + 1.5vw);
		line-height: calc(3vh + 3vw);
	}
}

.kukakuka {
  align-items: center;
  background-color: #E0D5B5;
	width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-bottom: 10vh;
}

.kukakuka h2 {
  font-size: 7vh;
  margin: 5vh 0 3vh;
}

.kukakuka .testimony {
  align-items: center;
  display: flex;
  width: 70%;
}

.kukakuka .testimony .testimony-img {
  background-image: url("img/testimony.jpg");
  background-size: cover;
  height: 400px;
  width: 600px;
}

.kukakuka .testimony .text {
  border-style: solid;
  font-size: 4vh;
  padding: 4vh;
  margin-left: 4%;
  text-align: center;
  width: 45%;
}

.kukakuka .testimony .text h4 {
  text-align: right;
}

.kukakuka .locations {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 6vh;
  width: 70%;
}

.kukakuka .locations img {
  height: 78vh;
}

.people {
  align-items: center;
  background-image: url("img/mahalo.jpg");
  background-size: cover;
  background-position: top;
  color: black;
	width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-bottom: 5vh;
}

.people h2 {
  background-color: rgb(81, 174, 245);;
  border-radius: 5px;
  padding: 1vh;
  margin-top: 5vh;
  margin-bottom: 2vh;
  font-size: 6vh;
}

.people h3 {
  border-radius: 5px;
  padding: 1vh;
  margin-top: 3vh;
  margin-bottom: 1vh;
  font-size: 4vh;
}

.kekuni-container {
  background-color: rgba(81, 174, 245, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 2vh;
  width: 50%;
}

.kekuni-container .frame {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kekuni-container img {
  width: 50%;
}

.kekuni-container p{
  align-items: center;
  display: flex;
  font-size: 3vh;
  text-align: center;
  width: 70%;
}

.people .facilitators {
  margin-top: 2vh;
  padding: 2vh;
  width: 50%;
}

.people .facilitators img {
  width: 100%;
}
